@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Mega:wght@100..900&family=Lilita+One&family=Limelight&family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&family=Ultra&family=VT323&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Mega:wght@100..900&family=Lilita+One&family=Limelight&family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sigmar&family=Ultra&family=VT323&family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    min-height: 60vw;
    max-width: 200vw;
}


#background {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='52.6' stroke-opacity='0.9' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.379)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-80 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%232f0430' href='%23a' transform='rotate(-25 0 0) scale(0.75)'/%3E%3Cuse stroke='%23370636' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23400a3b' href='%23a' transform='rotate(-15 0 0) scale(0.85)'/%3E%3Cuse stroke='%23490e40' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23531145' href='%23a' transform='rotate(-5 0 0) scale(0.95)'/%3E%3Cuse stroke='%235c154a' href='%23a'/%3E%3Cuse stroke='%23661a4f' href='%23a' transform='rotate(5 0 0) scale(1.05)'/%3E%3Cuse stroke='%236f1e53' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23792258' href='%23a' transform='rotate(15 0 0) scale(1.15)'/%3E%3Cuse stroke='%2383265c' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%238d2b60' href='%23a' transform='rotate(25 0 0) scale(1.25)'/%3E%3Cuse stroke='%23982f64' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23a23468' href='%23a' transform='rotate(35 0 0) scale(1.35)'/%3E%3Cuse stroke='%23ac396c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23b63e6f' href='%23a' transform='rotate(45 0 0) scale(1.45)'/%3E%3Cuse stroke='%23c14372' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23cb4875' href='%23a' transform='rotate(55 0 0) scale(1.55)'/%3E%3Cuse stroke='%23d64e78' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23e0537b' href='%23a' transform='rotate(65 0 0) scale(1.65)'/%3E%3Cuse stroke='%23ea597d' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23f55f80' href='%23a' transform='rotate(75 0 0) scale(1.75)'/%3E%3Cuse stroke='%23FF6582' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain; /* This will make the background image fit within the div */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: auto; /* Ensure the div only takes as much width as needed */
    height: auto; /* Ensure the div only takes as much height as needed */
    padding: 20px; /* Optional padding for spacing */
}



body {
    align-items: center;
    min-height: 60vw;
    max-width: 200vw;
}

#background {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='52.6' stroke-opacity='0.9' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.379)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-80 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%232f0430' href='%23a' transform='rotate(-25 0 0) scale(0.75)'/%3E%3Cuse stroke='%23370636' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23400a3b' href='%23a' transform='rotate(-15 0 0) scale(0.85)'/%3E%3Cuse stroke='%23490e40' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23531145' href='%23a' transform='rotate(-5 0 0) scale(0.95)'/%3E%3Cuse stroke='%235c154a' href='%23a'/%3E%3Cuse stroke='%23661a4f' href='%23a' transform='rotate(5 0 0) scale(1.05)'/%3E%3Cuse stroke='%236f1e53' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23792258' href='%23a' transform='rotate(15 0 0) scale(1.15)'/%3E%3Cuse stroke='%2383265c' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%238d2b60' href='%23a' transform='rotate(25 0 0) scale(1.25)'/%3E%3Cuse stroke='%23982f64' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23a23468' href='%23a' transform='rotate(35 0 0) scale(1.35)'/%3E%3Cuse stroke='%23ac396c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23b63e6f' href='%23a' transform='rotate(45 0 0) scale(1.45)'/%3E%3Cuse stroke='%23c14372' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23cb4875' href='%23a' transform='rotate(55 0 0) scale(1.55)'/%3E%3Cuse stroke='%23d64e78' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23e0537b' href='%23a' transform='rotate(65 0 0) scale(1.65)'/%3E%3Cuse stroke='%23ea597d' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23f55f80' href='%23a' transform='rotate(75 0 0) scale(1.75)'/%3E%3Cuse stroke='%23FF6582' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: 174% center;
    background-repeat: no-repeat;
    background-size: 1000px;
    
}

ul {
    display: flex;
    overflow: hidden;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    width: 50vw;
    height: 35px;
    justify-content: space-evenly;
    border-radius: 30px;
    list-style-type: none;
    font-family: 'Quicksand';
    margin-left: 300px;
}

li {
    margin-top: 7px;
    font-weight: 900;
    font-size: 20px;
    font-weight: 80;
    color: rgb(255, 255, 255);
    font-weight: 330;
}
li a{
    text-decoration: none;
    color: #ffffff;
}

#name {
    color: rgb(0, 0, 0);
    margin-top: 80px;
    font-size: 35px;
    margin-left: 170px;
    font-family: 'Lexend Mega';
}


#box {
    width: 650px;
    height: 300px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1; /* Set z-index to 1 */
    margin-top: 25px;
    margin-left: 40px;
}

#par{
    color:rgb(110, 110, 110);
    font-size: 18px;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 20px 27px;
    font-family: sans-serif;
 
}
button {
    z-index: 3; /* Increase z-index to be above the background */
    position: relative;
    text-align: center;
    background: linear-gradient(to right, rgb(85, 36, 85), rgb(197, 37, 112));
    border-radius: 16px;
    border: 0 solid;
    height: 33px;
    color: #ffffff;
    margin-left: 260px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: transform 0.2s ease; 
}

button:active{
    transform: scale(0.96);
}
#box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(175, 122, 146), rgb(216, 33, 109));
    opacity: 0.4;
    animation: rotBGimg 2s linear infinite;
    z-index: 0; /* Set z-index lower than the button */
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

#box::after {
    content: '';
    position: absolute;
    background: #ffffff;
    inset: 3px;
    border-radius: 30px;
}
#info{

    margin-top: 90px;
    width: 3000px;
    text-align: center;
    margin-left: -20px;  
}
#li1{
    text-align: center;
    margin-left: -1600px;
}
#li2{
    text-align: center;
    margin-left: -1600px;
}

.hover-underline {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  
  .hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,rgb(196, 102, 196),rgb(197, 37, 112));
    bottom: 2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }
  
  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }
  
  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }
  i {
    margin-right: 25px;
    margin-bottom: 26px;
    margin-left: 20px;
}
#contact{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    margin-top: -418px;
    width: 680px;
    height: 400px;
    margin-left: 652px;
}
#contact a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#con{
    padding: 30px 45px;
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    
    
}
#skills{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    margin-top: -16px;
    width: 660px;
    height: 400px;
    margin-left: -8px;
}
img{
    width: 90px;
    height: 90px;
    margin-top: 70px;
}
#js{
    margin-left:90px ;
     width: 110px;
    height: 110px;
}
#html{
    margin-left:40px ;

}
#css{
    margin-top: 70px;
     width: 120px;
    height: 95px;
}
